# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3
prisma/migrations/

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/